@{
    ViewData["Title"] = "Home Page";
}

<div id="ReactMount"></div>
<div class="Container">
    <div class="row">
        <div class="col-2 offset-10">
            <div class="form-group">
                <label>Enter name</label>
                <input type="text" name="username" class="form-control" />

            </div>
            <div class="form-group">
                <label>Enter message</label>
                <textarea name="msg"></textarea>

            </div>
            <button class="btn btn-primary" onclick="send()">send</button>
            <div>
                <ul id="messages">

                </ul>
            </div>
        </div>
    </div>
</div>
